<span id="" class="st-search-icon  desktop_searchIcn st-icon-search">
      <svg class="Icon Icon--search-desktop" role="presentation" viewBox="0 0 21 21">
      <g transform="translate(1 1)" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M18 18l-5.7096-5.7096"></path>
        <circle cx="7.2" cy="7.2" r="7.2"></circle>
      </g>
    </svg>
      </span>
<style>
  span.st-search-icon svg, .st-search-icon-mobile svg {
    display: inline-block;
}
  .st-header #search-mobile {
    display: none !important;
  }
  span.st-search-icon.desktop_searchIcn.st-icon-search{
    padding-right:7px;
        position: absolute;
    top: -3px;
    right: 76px;
    z-index: 8;
  }
span.st-search-icon.desktop_searchIcn.st-icon-search svg.Icon.Icon--search-desktop {
    width: 16px;
    height: 16px;
}
span.st-search-icon.desktop_searchIcn.st-icon-search svg.Icon.Icon--search-desktop g {
    stroke: #000;
    stroke-width: 2.5px;
}
  span.st-search-icon.desktop_searchIcn.st-icon-search svg.Icon.Icon--search-desktop:hover {
    /* transform: scale(1.15); */
}
 @media only screen and (max-width:769px){
  
  svg.Icon.Icon--search {
    height: 26px;
    width: 20px;
}
   .st-desk-icon .st-search-icon {
     display: none !important;
   }
    .st-header #search-mobile {
    display: block !important;
  }
  
    }
   @media only screen and (max-width:834px){ 
     .st-search-bar input{
       padding: 0 70px 0 15px !important;
       min-width: -webkit-fill-available;
        width: -webkit-fill-available;
     }
     span.st-search-icon.hidden-desktop svg.icon.icon-search {
      width: 16px;
       height: 16px;
     }
    .site-header--opening span.st-search-icon.hidden-desktop {
      display: block !important;
      cursor: pointer;
      width: 25px;
      height: 25px;
      padding: 0px 6px;
      position: absolute;
      margin-right: 36px;
     }
     svg.Icon.Icon--search {
      height: 26px;
      width: 20px;
    }
    .st-search-icon.hidden-desktop{
     display:none !important;
    }
     span.st-search-icon.desktop_searchIcn.st-icon-search {
    position: absolute;
    right: -30px;
    top: -7px;
}
     .st-header #search-mobile svg {
    width: 18px;
    height: 17px;
}
     .st-header #search-mobile svg g {
    stroke: #590909;
    stroke-width: 2.5px;
}
     span.st-search-icon.desktop_searchIcn.st-icon-search{
       display:none !important;
     }
  } 
  
span.st-search-icon.desktop_searchIcn.st-icon-search {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
}
  
</style>




